{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": true,
      "loose": true,
      "targets": {
        "browsers": [
          "chrome >= 60",
          "safari >= 10.1",
          "iOS >= 10.3",
          "Firefox >= 54",
          "Edge >= 15"
        ]
      }
    }],
    "react"
  ],
  "plugins": [
    "preval",
    ["transform-decorators-legacy"],
    "react-hot-loader/babel",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime",
    "syntax-dynamic-import",
    "styled-components",
    "polished"
  ],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
