{
  "presets": [[
    "@babel/env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }],
    "@babel/react",
    ["@babel/preset-stage-2", { "loose": true, "decoratorsLegacy": true }],
    "@babel/typescript"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "preval",
    "styled-components",
    "polished",
    "react-hot-loader/babel",
    ["module-resolver", {
      "extensions": [".js", ".jsx", ".ts", ".tsx"],
      "root": ["./src"]
    }],
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-class-properties", { "loose": true, "decoratorsLegacy": true }],
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
      "development": {
          "plugins": ["react-hot-loader/babel"]
      }
    }
}
