{
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    }
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "newline-before-return": "error",
    "no-console": ["error", { "allow": ["log", "error"] }],
    "linebreak-style": 0
  }
}
